.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex: 1;
  border-radius: 10px;
  background-color: var(--background);
  overflow-y: auto;
  max-height: 100%;
  scrollbar-width: thin; /* or thin, none, etc. */
  scrollbar-color: #666 #fff; /* or any other color values */
}
