body {
  --color-primary: #3758f9;
  --color-secondary: #6e5efd;
  --accent: #8288fa;
  --grey: #dfe4ea;
  --text-black: #111928;
  --text-white: #ffffff;
  --text-gray: #637381;
  --background: #f9fafb;
  --success: #88c479;
  --error: #dc3545;

  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
