.chat-window {
  display: flex;
  width: 560px;
  height: 684px;
  padding: 20px 1px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .chat-header-text {
    text-align: center;
    font-size: x-large;
    color: #333;
  }

  .chat {
    display: flex;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding: calc(var(--spacing) * 4) /* 1rem = 16px */;
    flex-direction: column;
    gap: calc(var(--spacing) * 2.5) /* 0.625rem = 10px */;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-top: 1px solid var(--text-gray);
    &__form {
      display: flex;
      width: 100%;
      border: 1px solid var(--text-gray);
      border-radius: 15px;
      .input-field {
        flex-grow: 1;
        padding: 0.5rem;
        border-radius: 15px 0px 0px 15px;
        font-size: 1rem;
        border: 0;
      }
      .submit-button {
        margin-left: 0.625rem;
        background-color: #4a90e2;
        color: white;
        padding: 0.625rem;
        border-radius: 0px 14px 14px 0px;
        border: 0;
        cursor: pointer;
        font-size: 1.125rem;

        &:hover {
          background-color: #357abf;
        }

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

.generate-button {
  margin-left: 0.625rem;
  background-color: #4a90e2;
  color: white;

  border-radius: 16px;
  border: 0;
  cursor: pointer;
  font-size: 1.125rem;

  &:hover {
    background-color: #357abf;
  }
}

.message-container {
  margin: 0.5rem 01rem;
  &__user {
    display: flex;
    justify-content: flex-end;
  }

  &__ai {
    display: flex;
    justify-content: flex-start;
  }
}

.message-text {
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 70%;
  margin: 0.5rem 0;
}

.message-user {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: var(--color-primary);

  color: var(--text-white);
  align-self: flex-end;
}

.message-ai {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
  align-self: flex-start;
}

.sender-name {
  padding-right: 0.5rem;
}
