.divider {
  width: 100%;
  height: 1px;
  background-color: var(--text-gray);
  margin: 10px 0;
}
.card {
  .card-content {
    display: grid;
    grid-column: span 2 span 2;
    border-radius: 10px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-actions {
  display: flex;
  gap: 10px;

  .action {
    padding: 5px 10px;
    border: 1px solid var(--text-gray);
    border-radius: 5px;
    cursor: pointer;
  }
}
