$color-primary: #5144c5;
$color-secondary: #6e5efd;
$accent: #bebafd;
$grey: #d9d9d9;
$text-black: #302803; // 01171E
$text-white: #f7f7f7;
$background: #f0fcff;
$success: #88c479;
$error: #dc3545;

//@use '../../../styles/_variables.scss' as vars;

// $themes: (
//   light: (
//     text: #302803,
//     background: #fefdf6,
//     primary: #7d7308,
//     secondary: #72f561,
//     accent: #0dce1d,
//   ),
//   dark: (
//     text: #fcf4cf,
//     background: #090801,
//     primary: #f7ed82,
//     secondary: #1b9e0a,
//     accent: #31f241,
//   ),
// );
