@use './_variables.scss' as vars;

@mixin container($type: section, $radius: 15px, $color, $stretch: true) {
}

.cnt {
  //   @include container(vars.$color-primary, 'section', 5px, true);
  display: flex;
  //   flex-direction: column;
  padding: 8px;
  gap: 10px;
}

.bg {
  &-primary {
    background-color: vars.$color-primary;
  }
  &-secondary {
    background-color: vars.$color-secondary;
  }
  &-accent {
    background-color: vars.$accent;
  }
  &-grey {
    background-color: vars.$grey;
  }
  &-success {
    background-color: vars.$success;
  }
  &-error {
    background-color: vars.$error;
  }
}

.btn {
  //   display: inline-flex;
  //   padding: 6px 12px;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 10px;
  //   flex-wrap: wrap;
  //   border-radius: 5px;
  //   border: 1px solid rgba(0, 0, 0, 0.15);
  //   background: var(--accent, #bebafd);
  //   color: vars.$text-white;
  //   font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
